html, body {
    background-color: #353535;
}

.typing-container {
    text-align: center;
    height: 52pt;
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.typing-word {
    color: #4e4e4e;
    font-family: monospace;
    font-size: 48pt;
}

#word-content {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.word-container {
    width: 30%;
    display: inline-block;
    transform: translate(0%, -100%);
}

.stats-container {
    opacity: 60%;
    color: #4e4e4e;
    font-size: 32pt;
    font-family: sans-serif;
}

.stats-container:hover {
    opacity: 100%;
}

.graph-container {
    opacity: 60%;
    position: absolute;
    bottom: 0;
}

.graph-container:hover {
    opacity: 100%;
}